
.modal-backdrop {
    position:unset !important;
    /* when you use sticky-top and modal together but it cause of accuring screen iresponsible 
    then you should use this property for a smooth modal working */
  }
body{

    background: black;
    
}


#cl2{
        background-color: grey;
        overflow: hidden; 
        word-wrap: break-word;
          
}
#row1{
        height:70vh;
       
}

#link1{
         margin-top:30%;
}


.firstsection>div {
    width: 40vw;
    font-size: 300%;
    color: white;
    

}
#element {
    color: dodgerblue;
}






